// Header

#body-inicio #header {
  @mixin show-from($delay) {
    animation: show-from .5s (.5 + .25s * $delay) both;
  }
  .image {                @include show-from(0); }
  .h2 {                   @include show-from(1); }
  .description p {        @include show-from(2); }
  .description .buttons { @include show-from(3); }
}
#galeria {
  padding-top: calc(var(--pt, 0px) + var(--pt-divider, 0px));
  .bg-color {
    background-color: $white;
  }
  + .section {
    margin-top: 0;
  }
}